* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    
}
/************************************/
header{
    display: flex;
    background-color: black;
    padding: 10px 0;
}
header h5:nth-child(1){flex: 5;}
header h5:nth-child(2){flex: 1;}
header h5:nth-child(3){flex: 1;}
header h5:nth-child(4){flex: 1;}
header a{
    color: white;
}
header a:hover{
    color: #E78585;
}
header h5:first-child{
    padding-left: 100px;
}
/**************************************/
.top-menu-item a:hover {
    color: #E78585;
}

.container {
    max-width: 1350px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.top { 
    padding: 12px 0;
    display: block;
    position: sticky;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
    top: 0;
}
.top-logo {
    flex: 1;
}
.top-logo img{
    width: 20%;
}
.top-menu-items {
    flex: 3;
}
.top-menu-items >ul{
    height: 100%;
    display: flex;

}
.top-menu-items > ul > li {
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: ;
    font-weight: bold;
    cursor: pointer;
    padding-left: 50px;
}
.top-menu-items a{
    color: black;
}

.top-menu-items-red a{
    color: red;
}

.top-menu-item {
    position: absolute;
    width: 200px;
    top: 100px;
    display: none;
    background: white;
    height: auto;
    padding: 6px;
    border: 1px solid #dddddd;
}
.top-menu-items ul li:hover .top-menu-item {
    display: block;
    top: 60px;
}
.top-menu-item li {
    line-height: 25px;
    display: flex;
    justify-content: left;
    text-align: center;
    border-bottom: 1px solid #333;
}
.top-menu-item li a {
    font-size: 13px;
    color: #333;        

}
/*nav-2*/
nav.nav-2
{
    background-color: #F6F4F4;
    padding-left: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
}
a.nav-2
{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}
.top-menu-icons ul {
    display: flex;
    height: 100%;
}
.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}
.top-menu-icons ul li {
    position: relative;
    
}

.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px
    
}
.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}
.top-menu-icons ul i {
    cursor: pointer;
}

/* ---------------------category------------------------------------- */
.category {
    padding: 10px 0 0;
    max-width: 1000px;
    margin-left: 7%;
}

.category-right {
    width: 100%;
}
.category-right-top-item:first-child {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-start;
}
.category-right-top-item{
    flex: 1;
    padding: 0 12px;
    margin: 0;
}

.category-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    background-color: #ffff;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
    align-self: flex-start;
}
.category-right-content-item {
    width: 30%;
    text-align: center;
    padding: 12px 0;
    position: relative;
}
.category-right-content-item h1 {
    font-size: 12px;
    margin-top: 6px;
    color: #333333;
}
.category-right-content-item img{
    width: 100%;
}
.category-right-content-item p {
    font-size: 13px;
}
.category-right-content-item .img-top {
    display: none;
    position: absolute;
    left: 0;
    z-index: 99;
}
.category-right-content-item:hover .img-top {
   display: inline;
}
.category-right-bottom {
    justify-content: center;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p {
    font-size: 14px;
}
.category-right-bottom p a {
    border: 1px solid black;
    color: black;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #D88282;
}
/*-----------------righthand------------------*/
.righthand{
    width: 29%;
    float: right;
    margin-left: 3%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}
.righthand div{
    margin-bottom: 10px;
}
.righthand h3{
    padding-bottom: 10px;
}
.righthand img{
    border: 2px solid gray;
    margin: 5px;
    float: left;
}
.righthand p{
    float: left;
    position: relative;
    top: 10px;
    color: #C95858;
}
.righthand a{
    color: #4C4545;
}
/* -------------footer------------- */
.footer {
    padding: 50px 0 0;
    border-top: 2px solid black;
    background-color: #F6F4F4;
}
.footer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.footer-container p {
    font-weight: bold;
    font-size: 18px;
}
.app-google {
    margin: 25px 0;
}
.app-google img {
    width: 150px;
    cursor: p;
}
.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px ;
}
.input-email input {
    width: 100%;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    text-align: center;
}
.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
}
.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.footer-items li {
    padding: 12px;
    position: relative;
}
.footer-items li a {
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

.footer-items li:last-child i {
    font-size: 12px;
    margin-right: 12px;
    color: #333333;
}
.footer-items li:last-child i:hover {
    color: black;
}
.footer-items img {
    width: 100px;
}
.footer-text {
    text-align: center;
    font-size: 12px;
}
.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    background-color: #dddddd;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
}

@media only screen and (max-width:  500px){
    .top-logo{display: none;}
    .row{flex-direction: column;}
    .category-right-content-item{width: 80%;align-self: center;}
    .category-right-bottom {font-size: 14px; align-content: center;}
    .top-menu-items ul li{padding: 10px;}
    .top-menu-icons ul{justify-content: center;}
    .category-right-top-item{width: 40%;align-self: flex-end;}
    nav.nav-2{padding-top: 12px;}
    header{display: none;}
    .category-right-top-item select{width: 100%;}
    .righthand{display: none;}
}
@media only screen and (min-width:  501px) and (max-width: 768px){
    .top-logo{display: none;}
    .category-right-content-item{width: 40%;}
    .category-right-content{justify-content: space-around;}
    nav.nav-2{padding-top: 12px;}
    .top-menu-icons ul{justify-content: center;}
    header{display: none;}
    .category-right-top-item select{width: 100%;}
    .righthand{display: none;}
}
@media only screen and (min-width:  769px) and (max-width: 1000px){
    header h5:first-child{flex: 2;}
    header h5:nth-child(2){flex: 1;}
    header h5:nth-child(3){flex: 1;}
    header h5:nth-child(4){flex: 1;}
    .category-right-top-item select{width: 100%;}
}
